html {
    scroll-behavior: smooth;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content_wrap {
    margin: 0 auto;
    max-width: 980px;
}

body {
    background-color: #000000;
    font-family: Arial, Meiryo, sans-serif;
}

.headerArea {
    width: 100%;
    border-bottom: 3px solid #290453;
    background-color: #FFFFFF;
}

.bannerContent {
    max-width: 1200px;
}

.bannerContent .bannerImg {
    width: 100%;
}

a {
    color: #000000;
    text-decoration: none;
}

.btn_hover a {
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
}

.sec03 {
    background-color: #f5f5f7;
}

img {
    vertical-align: top;
}

@media print, screen and (min-width: 768px) { 
    .pc_only {
        display: block;
    }

    .sp_only {
        display: none;
    }

    .content_wrap {
        padding: 0 10px;
    }

    /* HEADER AREA  */
    .headerArea .content_wrap {
        padding: 0 22px;
    }

    .logo {
        width: 4.6%;
        margin-right: 12px;
    }

    h1 {
        font-size: 3rem;
    }

    /* BANNER AREA */
    .bannerContent {
        position: relative;
        margin: 0 auto;
        max-width: 1200px;
    }

    .bannerTextImg {
        position: absolute;
        top: 107px;
        left: 15%;
    }

    .bannerText {
        font-size: 2.875rem;
    }

    .bannerText_sub {
        font-size: 2.188rem;
    }

    .bannerTextImg img {
        margin-top: 16px;
        margin-left: -31px;
    }

    /* SECTION 01 */
    .sec01 {
        margin-top: 27px;
    }

    .sec01_btnGroup {
        display: flex;
        margin-top: 35px;
        justify-content: space-around;
    }

    .sec01_btn {
        width: 335px;
    }

    .sec01_btn a {
        padding: 10px;
        font-size: 1.625rem;
        border-radius: 15px;;
    }

    .sec01_btn:last-child {
        margin-top: 0;
    }

    .priceCards {
        margin-top: 60px;
    }

    .priceCard {
        padding-bottom: 37px;
    }

    .priceCard, .priceCard:first-child {
        width: calc((100% - 55px)/3);
    }

    .priceCard:not(:first-child) {
        margin-top: 0;
    }

    .priceNew {
        font-size: 1.125rem;
    }

    .priceName, .priceCard:first-child .priceName {
        margin-top: 10px;
        font-size: 3.25rem;
    }

    .pricePrice, .priceCard:first-child .pricePrice{
        margin-top: 15px;
        font-size: 1.313rem;
    }

    /* SECTION 02 */
    .sec02 {
        margin-top: 40px;
        padding-bottom: 88px;
    }

    .modelCards {
        display: flex;
        margin-top: 15px;
        padding: 0;
        justify-content: space-between;
    }

    .modelCard {
        width: calc((100% - 55px)/3);
        padding-bottom: 10px;
    }

    .modelCard:not(:first-child) {
        margin-top: 0;
    }

    .modelNew {
        font-size: 1rem;
    }

    .modelName {
        margin-top: 0;
        font-size: 1.7rem;
    }

    .modelName_sub {
        margin-top: 5px;
        font-size: 1.1rem;
    }

    .modelDesc {
        width: 200px;
        margin-top: 22px;
        font-size: .8rem;
    }

    .modelCard:not(:first-child) .modelDesc {
        margin-top: 45px;
    }

    .modelPrice {
        margin-top: 22px;
        font-size: .8rem;
    }

    .modelImg {
        max-width: 100px;
    }

    .modelImg img {
        margin-top: 20px;

    }

    .modelCard:last-child .modelImg {
        max-width: 130px;
    }

    .modelCard:last-child .modelImg img {
        margin-top: 5px;
        margin-left: 5px;
    }

    /* SECTION 04 */
    .infoCards {
        display: flex;
        padding: 0;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .infoCard {
        width: calc((100% - 30px)/2);
        padding: 24px 34px 40px;
    }

    .infoCard:nth-child(2) {
        margin-top: 0;
    }

    .infoCard:nth-child(n+3) {
        margin-top: 30px;
        padding-bottom: 30px;
    }

    .infoText h3 {
        font-size: 1.625rem;
    }

    .infoText h3:before {
        margin-right: 25px;
    }

    .infoText p {
        margin-top: 15px;
        font-size: 1.125rem;
    }

    .info_btn {
        margin-top: 70px;
    }

    
    .infoCard:nth-child(n+3) .info_btn {
        margin-top: 95px;
    }

    /* FOOTER AREA */
    .footerArea {
        padding-top: 93px;
    }

    .footerContent {
        padding: 22px 21px;
    }

    .footerNav li a {
        font-size: 0.75rem;
    }

    .footerCopy {
        margin-top: 10px;
    }

    #back_to_top {
        right: 395px;
        bottom: 20px;
    }

    .btn_hover a:hover {
        background-color: #5338d1;
        transition: all .5s ease-in-out;
    }
}